*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#menu{
    display: none;
}
.slicknav_menu{
    background-color: #ededed;
    display: none;
}
.slicknav_btn{
    background-color: #707070;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    /* padding:0; */
    padding:0.6em;
}
.slicknav_menu .slicknav_icon {
    float: left;
    width: 1.1em;
    height: 0.8em;
  }
.slicknav_menu .slicknav_icon:before {
    background: transparent;
    width: 1.1em;
    height: 0.8em;
    display: block;
    content: "";
    position: absolute;
    opacity:0.5;
 }
 .slicknav_nav a {
    padding: 10px 10px;
    margin: 2px 5px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase; 
    background-color: #707070;
 }
 
 .slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.1em;
    height: 0.15em;
    margin:auto;
 }
 .slicknav_brand {
    color: rgb(255, 0, 60);
    font-size: 25px;
    font-weight: 900;
    line-height: 30px;
    padding: 7px 12px;
    height: 44px;
 }
#desktop-menu{
    width:100%;
    height:120px;
    display: flex;
    align-items: center;
    background-color: #ececec;
    margin:0;
}
.logo{
    float:left;
    margin-top:5px;
    font-weight:900;
    font-size: 35px;
}
.list{
    display:flex;
    list-style: none;
    float:right;
}
.list li{
    padding:20px 32px 30px 32px;
    text-transform: uppercase;
}
.expnd, .expnd1{
    display:inline-block;
    width:45px; 
    height:100%;
    position: absolute; 
    top:-2px; 
    right:0; 
    border-left: 2px solid #fff;
    overflow:hidden;
    text-indent:-99999px;
    color:white;
    background: url(image/mobile/mobile-expand.png)no-repeat;
    background-size: cover;
}
.collap, .collap1{
    display:none;
    width:45px; 
    height:100%;
    position: absolute; 
    top:-2px; 
    right:0; 
    border-left: 2px solid #fff;
    overflow:hidden;
    text-indent:-99999px;
    color:white;
    background: url(image/mobile/mobile-collapse.png)no-repeat;
    background-size: cover;
}
#desktop-menu .list a.active, #desktop-menu .list a.active:hover{
    color: rgb(255, 0, 55)!important;
}
#desktop-menu .list a:hover{
    color: yellowgreen!important;
}

#desktop-menu .list li.dropdwn1{
    position:relative;
}
#desktop-menu .list .drop1 a{
    display:none;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,15%);
    color: yellowgreen;
}
#desktop-menu .list li.dropdwn1:hover .drop1 a{
    display: block;
}
#home{
    width:100%;
    height:140vh;
    max-height:700px;
}
#home .bg-home{
    width:100%;
    height:100%;
    max-height:700px;
}
#home .bg-home img{
    width:100%;
    height:100%;
}
#home .bg-icon{
    width:160px;
    height:155px;
    position:relative;
    top:-35%;
    left:67%;
}
#home .bg-icon a.freeze{
    background: url(Image/icons.png) no-repeat;
    display:block;
    width:100%;
    height:100%;
    text-indent: -99999px;
}
#home .bg-icon a.freeze{
    background-position: 1px -127px;
}
#home .bg-icon a.label{
    position:absolute;
    top:50%;
    left:50%;
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
#product{
    width:100%;
    background-color: #e9e8e8;
}
.product-detail{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.left h3{
    color:rgb(255, 0, 55);
    font-weight: bold;
    margin:15px 0;
}
.left p{
    font-size: 15px;
    color:rgb(66, 66, 66);
}
.right img{
    width:290px;
}
#blogs{
    width:100%;
    background-color: yellowgreen;
    color:#fff;
}
#blogs .blogs-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 40px;
    overflow:hidden;
}
#blogs .blogs-info div{
    margin:10px 0;
}
#blogs .blogs-info div h5{
    font-weight: normal;
    margin:0;
}
#blogs .blogs-info a{
    background:url(image/icons.png) no-repeat;
    display:block;
    width:75px;
    height:50px;
    text-indent:-99999px;
    padding:0;
    margin:0 auto 10px auto;
}
#blogs .blogs-info a.prod{
    background-position: -3px -370px;
}
#blogs .blogs-info a.story{
    background-position: -7px -416px;
}
#blogs .blogs-info a.flavors{
    background-position: 1px -277px;
}
#blogs .blogs-info a.location{
    background-position: -3px -323px;
}
#contact{
    width:100%;
    background-color: rgb(255, 0, 55);
    padding:40px 0;
}
#contact .contact-info{
    display:block;
    width:250px;
    /* height:30px; */
    padding:0;
    margin:0 auto;
    max-width:none;
    overflow:hidden;
}
#contact .contact-info a{
    background:url(image/icons.png) no-repeat;
    display:block;
    float:left;
    width:30px;
    height:30px;
    padding:0;
    margin:25px 15px;
    text-indent:-99999px;
}
#contact .contact-info a.facebook{
    background-position: 0 0;
}
#contact .contact-info a.googleplus{
    background-position: 0 -32px;
}
#contact .contact-info a.pinterest{
    background-position: 0 -64px;
}
#contact .contact-info a.twitter{
    background-position: 0 -96px;
}
#contact p{
    color:white;
    text-align: center;
    /* margin-bottom: 60px; */
    font-size: 14px;
}
.about-header{
    width:100%;
    background-color: yellowgreen;;
    color:#fff;
    padding:20px 0;
    text-align:center;
}
.about-bg{
    width:100%;
    height:245px;
    background:url(image/cereal-5712343.jpg) no-repeat;
    background-position:center;
    background-size:100% 650px;
}
.about{
    width:100%;
    height:auto;
}
.about p{
    color:#606060;
    font-size: 14px;
}
.abt-right p{
    margin:20px 0;
    text-align: justify;
    line-height:1.7;
}
.abt-content{
    width:100%;
    padding:40px 10px 100px 10px;
    display:flex;
    justify-content: space-between;
}
.abt-left{
    width:32%;
    height:auto;
    background-color: #e9e8e8;
    padding:35px 47px;
    text-align: center;
    line-height:3;
}
.abt-right{
    width:65%;
    height:auto;
    padding:0 8px;
    /* border:2px solid red; */
}
.about h4{
    text-transform: uppercase;
    color:rgb(255, 0, 55);
    font-weight: normal;
}
.abt-left h4{
    line-height: 2;
}
.product{
    margin:30px 0 60px 0;
}
.product-info{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 0;
}
.product-info .info{
    width:24%;
    padding-left:8px;
    display:flex;
    flex-direction: column;
    /* border:1px solid red; */
}
.product-info .info h4{
    color:rgb(255, 0, 55);
    font-weight: bolder;
    margin:25px 0;
}
.product-info .image img{
    width:100%;
    /* height:245px; */
    height:200px;
}
.product-info .info p, .blog-info p{
    font-size: 14px;
    color:#606060;
    line-height:1.60;
}
.product-info .image{
    width:26%;
    height:250px;
    display:flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-left: 5px;
    padding:15px 10px;
}
.product-info .image h5{
    color:rgb(255, 0, 55);
    font-weight: normal;
    /* margin:10px 0 15px 0; */
    margin-top: 10px;
    margin-bottom: 0;
}
.blog{
    width:100%;
    padding:60px 0 120px 0;
}
.blog-info{
    width:100%;
    display:flex;
    flex-direction: row;
    padding:0 7px;
    justify-content: space-between;
    align-items: start;
}
.blog-info label{
    color:#606060;
}
.blog-info h4, .blog-info h3{
    color:rgb(255, 0, 55);
    font-weight: normal;
    letter-spacing: 0.5px;
}
.blog-info h3{
    font-weight: bolder;
}
.blog-info .left-blog{
    width:68%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left-blog .blog-content{
    display:flex;
    justify-content: space-between;
    margin-top: 27px;
}
.left-blog .blog-photo{
    width:30%;
    height:100%;
}
.blog-info img{
    margin:0;
    width:100%;
    height:100%;
    border-radius: 50%;
}
.left-blog .blog-details{
    width:70%;
    padding:0 0 0 35px;
}
.blog-info .right-blog{
    width:32%;
    height:100%;
    background-color: #eeeeee;
    padding:40px 38px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 27px;
}
.post-details h4{
    padding-bottom: 0;
    margin:0;
}
.blog-info .right-blog img{
    width:100%; padding:15px 0;
}
.btn{
    border:2px solid rgb(166, 166, 166);
    border-radius: 0;
    padding:8px 30px;
    color:rgb(132, 97, 97);
    font-weight: 600;
    margin:25px 0 18px 0;
}
.btn:hover{
    background-color:yellowgreen;;
    color:white;
}
.btn-load:hover{
    background-color: rgb(255, 0, 55);
    color:white;
}
.post-photo{
    width:100%;
    height:400px;
    padding:27px 38px 27px 0;
}
.left-blog .post-photo img{
    width:100%;
    height:100%;
    border-radius: 0!important;
}
.left-blog .post-details{
    padding-right:10px;
}
.contact-bg{
    width:100%;
    height:249px;
    background: url(image/map.jpg) no-repeat center top #b5aaad;
    position:relative;
}
.contact-bg .map{
    width:86%;
    height:170px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.contact-bg .map .locate{
    display:flex;
    justify-content: center;
}
.contact-bg .map .address{
    width:62%;
    padding:0 0 0 30px;
}
.contact-bg .map h4{
    color:rgb(255, 0, 55);
    font-weight: normal;
}
.form{
    width:100%;
    height:auto;
    display:flex;
    justify-content: space-between;
    padding:40px 8px;
}
.form h4{
    color:rgb(255, 0, 55);
    font-weight: normal;
}  
.inquiry-form{
    width:63%;
}
form input{
    display:block;
    width:100%;
    height:40px;
    padding:10px;
    color:#707070;
    margin:10px 0;
    border-radius:none;
    border:1px solid #939393;
    font-size: 14px;
}
form textarea{
    display: block;
    width:100%;
    height:300px;
    padding:10px;
    color:#707070;
    margin-bottom:10px;
    border-radius:none;
    border:1px solid #939393;
    font-size: 14px;
}
.help{
    width:32%;
    height:250px;
    background-color: #eeeeee;
    padding:20px 35px;
    text-align:center;
}
.help p{
    font-size: 14px;
    color:rgb(66, 66, 66);
}
.btn-send{
    margin-top:0;
    margin-bottom: 138px;
    padding:6px 50px;
}
.contact-bg p{
    color:#606060;
    font-size: 14px;
}
/* utility classes */
.container{
    width:100%;
    padding:0 30px;
    /* border:1px solid green; */
    margin:auto;
}
a{
    text-decoration: none;
    display:inline-block;
}


